.location {
  flex: 0 0 480px;
  position: relative;
  margin: 0 auto;
  padding: 4rem;

  &__icon {
    width: 12rem;
    height: 12rem;
    fill: rgba(#0000dd, 0.2);
    position: absolute;
    left: 0rem;
    top: 0rem;
    z-index: -1;
  }

  &__title {
    font-size: var(--location-title-font-size);
    font-weight: 600;
    color: var(--color-grey-dark-2);
  }

  &__road {
    font-size: var(--default-font-size);
    font-weight: 500;
    color: var(--color-grey-dark-2);
  }

  &__postal {
    font-size: var(--office-phone-font-size);
  }

  &__office-phone {
    font-size: var(--office-phone-font-size);
  }

  @include respond(phone) {
    flex: 0 0 90%;

    &__icon {
      width: 9rem;
      height: 9rem;
    }
  }
}
