/*
 ---- 01 TYPOGRAPHY SYSTEM

- FONT SIZES (px):
  10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- FONT WEIGHTS:
  default: 400
  medium: 500
  semi-bold: 600
  bold: 700

- LINE HEIGHTS:
  default: 1
  small: 1.05
  medium: 1.2
  Paragraph default: 1.6  

- LETTER SPACING:
    0.5px
    0.75px
 ---- 02 COLOURS
 
 - Primary: #ffffff #818046 
 - Tints:
 - Shades:
 - Accents:
 - Background color: #1a1815
 - Greys:
 
 ---- 05 SHADOWS



 ---- 06 BORDER-RADIUS
 Default: 9px 
 11px

 ---- 07 WHITESPACE

 - Spacing System (px)
    2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 
 
*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500&family=Noto+Serif:wght@300;400&family=Raleway:wght@300;400;500;600&display=swap');

/*********************************
*            RESET CSS           *
*********************************/
/* prettier-ignore */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
/* prettier-ignore */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
  line-height: 1;
}
/* prettier-ignore */
ol, ul {
	list-style: none;
}
/* prettier-ignore */
blockquote, q {
	quotes: none;
}
/* prettier-ignore */
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*********************************
*           GENERAL CSS          *
*********************************/
html {
  font-size: 62.5%; /* I make 1rem = 10px*/

  overflow-x: hidden;
  scroll-behavior: smooth;
}

:root {
  --main-color: #ffffff;
  --secondary-color: #818046;

  --title-weight: 400;

  --main-font: 'Raleway', sans-serif;
  --secondary-font: 'Noto Sans JP', sans-serif;
  --tertiary-font: 'Noto Serif', serif;

  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-bold: 600;

  --space-sm: 1.6rem;
  --space-md: 3.2rem;
  --space-bg: 6.4rem;

  --text-white: #ffffff;
  --text-grey: #8b8b8b;

  --div-yellow: 2px solid yellow;
  --div-blue: 2px solid blue;
  --div-red: 2px solid red;
}

body {
  background-color: #1a1815;
  font-family: var(--main-font);
  color: var(--main-color);

  overflow-x: hidden;
}

/* HEADINGS */

.heading-primary {
  color: #ffffff;
  font-size: clamp(1.8rem, 1.2702rem + 2.6082vw, 4.4rem);
}

.heading-primary-jp {
  font-family: var(--secondary-font);
  color: #ffffff;
  font-size: clamp(1rem, 0.7555rem + 1.2038vw, 2.2rem);
}

.heading-secondary {
  color: var(--secondary-color);
  font-size: clamp(1.4rem, 1.1605rem + 1.5329vw, 3rem);
}

.heading-secondary-jp {
  color: var(--secondary-color);
  font-family: var(--secondary-font);
  font-size: clamp(1rem, 0.8503rem + 0.9581vw, 2rem);
}

.heading-hero {
  font-weight: var(--fw-regular);
  font-size: clamp(2rem, 1.8503rem + 0.9581vw, 3rem);
  font-family: var(--main-font);
  writing-mode: vertical-lr;
  text-shadow: 1px 1px 5px #1a1815;
}

.heading-hero-jp {
  font-weight: var(--fw-regular);
  font-size: clamp(2rem, 1.8503rem + 0.9581vw, 3rem);
  font-family: var(--secondary-font);
  writing-mode: vertical-lr;
  text-shadow: 1px 1px 5px #1a1815;
}

/* BUTTONS */

button {
  border: none;
  cursor: pointer;
}

.btn {
  font-family: var(--main-font);
  cursor: pointer;
  border: none;
  background: none;
  text-decoration: none;
  color: #ffffff;
  transition: all 0.3s;
}

/* LINKS */

a:link,
a:visited {
  text-decoration: none;
  color: #ffffff;
}

/* MARGINS */

.margin-bottom-sm {
  margin-bottom: 1.6rem;
}

.margin-bottom-md {
  margin-bottom: 3.2rem;
}

.margin-bottom-bg {
  margin-bottom: 6.4rem;
}

.margin-right-sm {
  margin-right: 1.6rem;
}

.margin-right-md {
  margin-right: 3.2rem;
}

/*********************************
*              NAV               *
*********************************/

.main-nav-list {
  position: fixed;
  z-index: 999;
  right: 0;
  top: 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: end;
  align-items: flex-end;
  align-content: flex-end;

  margin-top: 3.2rem;
  margin-right: 3.2rem;
}

.main-nav-list li {
  margin-bottom: 1.5rem;
}

.nav-link {
  font-size: 1.6rem;
  text-shadow: 1px 1px 5px #1a1815;
}

a.active::after {
  content: ' - ';
}

/* MOBILE */
.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;

  display: none;
}

.icon-mobile-nav {
  width: 4.8rem;
  height: 4.8rem;
  margin: 2rem;
}

.icon-menu {
  background-image: url(../assets/icons/menu-1-svgrepo-com.svg);
}

.icon-close {
  background-image: url(../assets/icons/close-svgrepo-com.svg);
}

.btn-mobile-nav .icon-close {
  display: none;
}

/*********************************
*            FOOTER              *
*********************************/
footer {
  display: flex;
  flex-flow: column nowrap;
}

footer .cols-box {
  padding: 5rem 3.2rem 10rem 3.2rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

footer .other-cols {
  display: flex;
  flex-flow: row nowrap;
}

footer .logo-col {
  flex: 0 0;
  display: flex;
  flex-flow: column nowrap;
  align-content: center;
  align-items: center;
  justify-content: center;
}

footer .logo-box {
  display: flex;
  align-items: center;
  align-content: center;
}

footer .logo {
  width: 64px;
  height: 64px;

  background-image: url(../assets/icons/cherry-tree.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

footer .logo-box .logo-text-box {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-left: 0.8rem;
}

footer .logo-box .text-jp {
  font-family: var(--secondary-font);
  font-weight: var(--fw-light);
  font-size: clamp(1.6rem, 1.5401rem + 0.3832vw, 2rem);
}

footer .logo-box .text-main {
  font-family: var(--tertiary-font);
  font-weight: var(--fw-light);
  font-size: clamp(2rem, 1.8503rem + 0.9581vw, 3rem);
  margin-top: 0.8rem;
}

footer .logo-box .text-sec {
  font-weight: var(--fw-light);
  font-size: clamp(0.8rem, 0.7401rem + 0.3832vw, 1.2rem);
  margin-top: 0.8rem;
}

footer .social-list {
  width: 100%;

  display: flex;
  justify-content: space-between;
}

footer .icon {
  width: 32px;
  height: 32px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

footer .icon-inst {
  background-image: url(../assets/icons/instagram.svg);
}

footer .icon-x {
  background-image: url(../assets/icons/x.svg);
}

footer .icon-trip {
  width: 49px;
  height: 32px;
  background-image: url(../assets/icons/tripad.svg);
}

footer .other-cols {
  flex: 0 0 50%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.footer-heading {
  font-size: clamp(1.2rem, 1.1102rem + 0.5749vw, 1.8rem);
  font-weight: var(--fw-regular);
}

footer .text-info {
  max-width: 20rem;
  font-size: clamp(1rem, 0.9102rem + 0.5749vw, 1.6rem);
  color: var(--text-grey);
}

.footer-info-box {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: start;
}

.icon-info {
  width: 24px;
  height: 24px;

  margin-right: var(--space-sm);

  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}

.icon-info-closed {
  background-image: url(../assets/icons/close.svg);
}

.icon-info-location {
  width: 24px;
  height: 32px;
  background-image: url(../assets/icons/location.svg);
}

.icon-info-phone {
  background-image: url(../assets/icons/call.svg);
}

.footer-link:link,
.footer-link:visited {
  font-size: clamp(1rem, 0.9102rem + 0.5749vw, 1.6rem) !important;
  color: var(--text-grey) !important;

  transition: all 0.3s;
}

.footer-link:hover,
.footer-link:active {
  color: #ffffff !important;
}

footer .copy-box {
  text-align: center;
  background-color: #000000;
  padding: 2rem 0;
}

footer .copy-text {
  font-size: clamp(0.8rem, 0.7102rem + 0.5749vw, 1.4rem);
}

/*********************************
*        GENERAL QUERIES         *
*********************************/

@media only screen and (max-width: 950px) {
  /* MOBILE NAVIGATION */
  .disable-scroll {
    overflow: hidden;
  }

  header {
    position: relative;

    display: flex;
    justify-content: flex-end;
  }

  .main-nav {
    position: fixed;
    z-index: 2;

    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(100%);
    transition: all 0.5s;

    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;

    /* Hide navigation */
    /* does not allow transitions */
    /* display: none; */

    /* hide navigation */
    opacity: 0;

    /* unaccesible to mouse and keyboard */
    pointer-events: none;

    /* hide it from screen readers*/
    visibility: hidden;
  }

  .nav-open .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);

    justify-content: center;
    align-items: center;
  }

  .main-nav-list {
    top: auto;
    right: auto;

    justify-content: center;
    align-items: center;

    margin: 0;
  }

  .main-nav-list li {
    margin-bottom: var(--space-bg);
  }

  .main-nav-list a {
    font-size: 2rem;
  }

  .btn-mobile-nav {
    display: block;
    z-index: 5;
    position: fixed;
  }

  .nav-open .icon-close {
    display: block;
  }

  .nav-open .icon-menu {
    display: none;
  }

  a.active::after {
    content: '\00a0\00a0'; /* I put a whitespace to separate */
  }
  .main-nav-list .active {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .active .nav-mobile-icon {
    width: 32px;
    height: 32px;
    background-image: url(../assets/icons/cherry-tree.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
  }
}

@media screen and (max-width: 1080px) {
  footer .other-cols {
    flex: 0 0 70%;
  }
}

@media screen and (max-width: 750px) {
  footer .other-cols {
    flex: 0 0 65%;
    justify-content: center;
  }

  footer .useful-col {
    margin-top: var(--space-md);
  }
}

@media screen and (max-width: 750px) {
  footer .cols-box {
    padding: 5rem 1rem;
  }

  footer .logo-col {
    flex: 0 0 100%;

    margin-bottom: var(--space-md);
  }

  footer .logo-box {
    justify-content: center;
  }

  footer .social-list {
    justify-content: space-evenly;
  }

  footer .other-cols {
    flex: 0 0 100%;

    text-align: center;
  }

  footer .contact-col {
    flex: 0 0 33%;

    margin-top: var(--space-md);
  }

  footer .company-col {
    flex: 0 0 33%;
    margin-top: var(--space-md);
  }

  footer .useful-col {
    flex: 0 0 33%;
  }
}

@media screen and (max-width: 480px) {
  footer .logo {
    width: 48px;
    height: 48px;
  }

  footer .logo-col {
    align-content: flex-start;
    align-items: flex-start;

    margin-bottom: 0;
  }

  footer .social-list {
    justify-content: flex-start;
  }

  footer .social-list li {
    margin-right: var(--space-md);
  }

  footer .contact-col {
    flex: 0 0 100%;
    text-align: start;
  }

  footer .company-col {
    flex: 0 0 100%;

    text-align: start;
  }

  footer .useful-col {
    flex: 0 0 100%;
    text-align: start;
  }
}
