/*
 ---- 01 TYPOGRAPHY SYSTEM

 - FONT SIZES (px):
    10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

 ---- WHITESPACE

 - Spacing System (px)
    2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 

*/

body {
  font-family: var(--font-primary);
  font-weight: 400;
  line-height: 1.5;
  color: var(--color-grey-dark-3);
}

.heading-primary {
  font-family: var(--font-secondary);
  font-size: var(--heading-primary-font-size);
  font-weight: 600;
  color: var(--color-grey-dark-2);
  hyphens: auto;
}

.heading-secondary {
  font-family: var(--font-secondary);
  font-size: var(--heading-secondary-font-size);
  font-weight: 500;
  color: var(--color-primary);
  hyphens: auto;
  text-transform: uppercase;
}

.heading-tertiary {
  font-family: var(--font-primary);
  font-size: var(--heading-tertiary-font-size);
  font-weight: 600;
  color: var(--color-grey-dark-2);
  hyphens: auto;
  text-transform: uppercase;
  letter-spacing: 0.2rem;

  position: relative;
  display: inline-block;
}

.heading-tertiary::before {
  content: '';
  background-color: var(--color-primary);

  width: 2rem;
  height: 0.5rem;

  position: absolute;
  top: 50%;
  left: -2.5rem;
  transform: translateY(-50%);
}

.text-normal {
  font-size: var(--default-font-size);
  color: var(--color-grey-dark-3);
  hyphens: auto;

  &--white {
    color: var(--color-white);
  }
}
