/*********************************
*             HERO               *
*********************************/

.section-hero {
  width: 100%;
  height: 75vh;

  background-image: url(../assets/img/contactImg/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

/*********************************
*          OFFICES               *
*********************************/

.section-offices {
  padding: 10rem 3.2rem;
}

.offices {
  max-width: 153.6rem;
  margin: 0 auto;
  width: 100%;
}

.offices .section-headings-box h2:first-child {
  margin-bottom: var(--space-sm);
}

.offices .section-headings-box {
  margin-bottom: var(--space-bg);
}

.office-1 {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.offices-box {
  flex: 0 1 50%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  align-content: center;
}

.office-text-box {
  flex: 0 1 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  padding: 1rem 2rem;
}

.offices-map {
  flex: 1 1 50rem;
}

.office {
  width: 100%;
  margin-bottom: var(--space-sm);

  display: flex;
  flex-flow: row nowrap;
}

.office-img {
  flex: 0 0 20rem;

  height: 20rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.office-img-1 {
  background-image: url(../assets/img/contactImg/offices-1.jpg);
}

.office-img-2 {
  background-image: url(../assets/img/contactImg/offices-2.jpg);
}

.office-img-3 {
  background-image: url(../assets/img/contactImg/offices-3.jpg);
}

.office .icon {
  margin-right: 1rem;
  width: 3.2rem;
  height: 3.2rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.office .icon-phone {
  background-image: url(../assets/icons/phone-call-svgrepo-com.svg);
}

.office .icon-mail {
  height: 2.8rem;
  width: 3.2rem;
  background-image: url(../assets/icons/email-9-svgrepo-com.svg);
}

.office-icon-box {
  display: flex;
  align-items: center;
  align-content: center;
}

.office-text {
  font-size: clamp(1.6rem, 1.5185rem + 0.4013vw, 2rem);
}

.office-address {
  color: #111;
  font-weight: 500;
}

.btn-map {
  max-width: fit-content;
  text-align: left;
  font-size: clamp(1.6rem, 1.5592rem + 0.2006vw, 1.8rem);
  color: var(--primary-color);
}

.btn-map:hover {
  color: #a50606;
}

.btn-info {
  margin-top: var(--space-md);

  max-width: fit-content;
  font-size: clamp(1.6rem, 1.5185rem + 0.4013vw, 2rem);
  padding: 0 1rem;

  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  transition: all 0.3s;
}

.btn-info:hover {
  color: #111;
}

.btn-info .icon-rarr {
  margin-right: 1rem;
  width: 2.2rem;
  height: 2.2rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-image: url(../assets/icons/rigth-arr.svg);
}

/*********************************
*              FORM              *
*********************************/

.section-contact {
  padding: 10rem 3.2rem;
}

.contact {
  max-width: 153.6rem;
  margin: 0 auto;
  width: 100%;
}

.contact .section-headings-box h2:first-child {
  margin-bottom: var(--space-sm);
}

.contact .section-headings-box {
  margin-bottom: var(--space-bg);
  text-align: center;
}

.contact-1 {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.form-box {
  flex: 0 1 50%;

  padding: 0 2rem 0 0;
}

.form-img-box {
  flex: 0 1 55rem;
  height: 70rem;
  justify-self: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-image: url(../assets/img/contactImg/contact.jpg);
}

.contact form {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;

  font-size: 2rem;
  color: #111;
  border: 1px solid #111;
  border-top: 5px solid var(--primary-color);
  padding: 1rem;
  max-width: 53rem;
  font-family: var(--main-font);
}

.contact input[type='text'] {
  margin-bottom: var(--space-sm);
  background-color: #eee;
  border: none;
  outline: none;
  padding: 1rem;
  font-size: 1.8rem;
  color: #111;
  font-family: var(--main-font);
}

.contact input[type='submit'] {
  margin-top: var(--space-sm);
  font-size: 2rem;
  max-width: fit-content;
  padding: 0.5rem 5rem;
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  transition: all 0.3s;
}

.contact input[type='submit']:hover {
  cursor: pointer;
  background-color: #a50606;
}

.contact label {
  margin-bottom: 1rem;
}

.contact textarea {
  background-color: #eee;
  height: 30rem;
  border: none;
  outline: none;
  resize: none;
  padding: 1rem;
  font-size: 2rem;
  color: #111;
  font-family: var(--main-font);
}

.contact span {
  color: var(--primary-color);
}
/*********************************
*           GEOLOCATION          *
*********************************/

.section-geolocation {
  padding: 10rem 0;
}

.geolocation {
  width: 100%;
}

.geolocation .section-headings-box h2:first-child {
  margin-bottom: var(--space-sm);
}

.geolocation .section-headings-box {
  margin-bottom: var(--space-bg);
  text-align: center;
}

/*********************************
*         ACOMMODATIONS          *
*********************************/

.section-acommodation {
  padding: 10rem 3.2rem;
}

.acommodation {
  max-width: 153.6rem;
  margin: 0 auto;
  width: 100%;
}

.acommodation .section-headings-box h2:first-child {
  margin-bottom: var(--space-sm);
}

.acommodation .section-headings-box {
  margin-bottom: var(--space-bg);
}

.aco-1 {
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: space-between;
}

.aco-hotels-box {
  flex: 1 1 50%;
}

.aco-map-box {
  flex: 1 1 50%;
}

.aco-hotels-box .options-box {
  display: flex;
  align-items: center;
  align-content: center;

  margin-bottom: var(--space-md);
}

.aco-hotels-box .option {
  font-size: 2rem;
  color: #111;
  padding: 0.5rem 1rem;
  margin: 0 0.5rem;
  border-bottom: 3px solid #aaa;
}

.aco-hotels-box .option:hover {
  cursor: pointer;
}

.aco-hotels-box .active {
  border-bottom: 3px solid var(--primary-color);
}

.results-box {
  display: flex;
  flex-flow: column nowrap;
}

.result {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;

  color: #111;
  margin-bottom: var(--space-md);
}

.result-img-box {
  flex: 0 1 20rem;
  height: 20rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.result-img-1 {
  background-image: url(../assets/img/contactImg/camping-1.jpg);
}

.result-img-2 {
  background-image: url(../assets/img/contactImg/camping-2.jpg);
}

.result-img-3 {
  background-image: url(../assets/img/contactImg/camping-3.jpg);
}

.result-content-box {
  flex: 1 1 auto;
  height: 20rem;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}

.content-1 {
  flex: 0 1 50%;
  height: 100%;

  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.content-2 {
  flex: 0 1 50%;
  height: 100%;
  padding: 1rem;

  display: flex;
  flex-flow: column nowrap;
}

.result-name {
  font-size: clamp(1.6rem, 1.5185rem + 0.4013vw, 2rem);
  font-weight: 500;
}

.provider-box {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.icon-verified {
  flex: 0 0 2rem;
  height: 2rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-image: url(../assets/icons/verified-check-svgrepo-com.svg);
}

.provider-img {
  flex: 0 0 9.3rem;
  height: 4rem;
  margin-top: 0.4rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-image: url(../assets/icons/booking-ar21.svg);
}

.price {
  font-size: clamp(1.8rem, 1.6777rem + 0.6019vw, 2.4rem);
  font-weight: 500;
}

.btn-deal {
  width: fit-content;
  font-size: clamp(1.6rem, 1.5185rem + 0.4013vw, 2rem);
  background-color: var(--primary-color);
  color: #fff;
  padding: 0.5rem 3rem;
  transition: all 0.3s;
}

.btn-deal:hover {
  background-color: #ac0606;
}

.stars-box {
  display: flex;
  flex-flow: row nowrap;
  margin-bottom: var(--space-sm);
}

.icon-star {
  width: 3rem;
  height: 3rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-image: url(../assets/icons/star-filled-svgrepo-com.svg);
}

.icon-text {
  margin-top: 0.7rem;
  font-size: clamp(1.2rem, 1.1185rem + 0.4013vw, 1.6rem);
  color: #555;
}

.contains-box {
  display: flex;
  flex-flow: column nowrap;
}

.icon-box {
  display: flex;
  align-items: center;
  align-content: center;
}

.contains-box .icon {
  margin-right: 1rem;
  width: 2.4rem;
  height: 2.4rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.contains-box .icon-wifi {
  background-image: url(../assets/icons/wifi-svgrepo-com.svg);
}

.contains-box .icon-restaurant {
  margin-top: 1rem;
  background-image: url(../assets/icons/fork-knife-spoon-svgrepo-com.svg);
}

.contains-box .icon-parking {
  margin-top: 1rem;
  background-image: url(../assets/icons/parking-svgrepo-com.svg);
}

.contains-box .icon-pool {
  margin-top: 1rem;
  background-image: url(../assets/icons/swimming-svgrepo-com.svg);
}

.pagination {
  margin-top: var(--space-md);
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.pagination .number {
  font-size: 1.8rem;
  padding: 0.5rem 1rem;
  border: 1px solid #555;
  margin-right: 1rem;
  transition: all 0.3s;
}

.pagination .dots {
  margin-right: 1rem;
  font-size: 1.8rem;
  padding: 0.5rem 1rem;
}

.pagination .dots:hover {
  cursor: default;
}

.pagination .page:hover .number {
  cursor: pointer;
  background-color: #ddd;
}

.pagination .icon {
  padding: 0.5rem 1rem;
  width: 3rem;
  height: 3rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.pagination .icon:hover {
  cursor: pointer;
}

.icon-chev-left {
  background-image: url(../assets/icons/chevron-left-svgrepo-com.svg);
}

.icon-chev-right {
  background-image: url(../assets/icons/chevron-right-svgrepo-com.svg);
}

/*********************************
*         CONTACT QUERIES        *
*********************************/

@media screen and (max-width: 1300px) {
  /* ACOMMODATIONS */
  .aco-1 {
    flex-wrap: wrap;
  }

  .aco-map-box {
    flex: 0 0 100%;
    margin-top: var(--space-md);
  }

  .options-box {
    max-width: 80rem;
    margin: 0 auto;
  }

  .results-box {
    max-width: 80rem;
    margin: 0 auto;
  }
}
@media screen and (max-width: 1080px) {
  .office-1 {
    flex-wrap: wrap;
  }

  .offices-box {
    flex: 0 1 100%;
    margin: 0 auto;
  }

  .office-1 .btn-info {
    margin-bottom: var(--space-md);
  }

  /* ACOMMODATIONS */
  .content-1 {
    flex: 0 1 60%;
  }

  .content-2 {
    flex: 0 1 30%;

    text-align: left;
  }
}

@media screen and (max-width: 650px) {
  body {
    text-align: center;
  }
}

@media screen and (max-width: 650px) {
  /* ACCOMMODATIONS */
  .result-content-box {
    height: 15rem;
  }

  .result-img-box {
    flex: 0 1 15rem;
    height: 15rem;
  }

  .pagination {
    margin-top: var(--space-sm);
  }
}

@media screen and (max-width: 630px) {
  .office-img {
    flex: 0 0 15rem;
    height: 15rem;
  }

  .contact-1 {
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .form-img-box {
    order: 1;
    margin-bottom: var(--space-md);
    height: 30rem;
    background-position: bottom center;
  }

  .form-box {
    flex: 0 1 100%;
    order: 2;
    padding: 0;
  }
}

@media screen and (max-width: 550px) {
  /* ACCOMMODATIONS */
  .aco-1 .icon-star {
    width: 2rem;
    height: 2rem;
  }
  .aco-1 .icon {
    width: 1.6rem;
    height: 1.6rem;
  }

  .aco-hotels-box .options-box {
    flex-flow: row wrap;
  }

  .btn-deal {
    padding: 0.5rem 1rem;
  }
}

@media screen and (max-width: 480px) {
  .section-offices,
  .section-contact,
  .section-acommodation {
    padding: 3.2rem 1rem;
  }

  .section-geolocation {
    padding: 3.2rem 0;
  }

  .section-headings-box {
    margin-bottom: var(--space-md) !important;
  }

  /* OFFICES */
  .office {
    flex-wrap: wrap;
  }

  .office-img {
    flex: 0 0 100%;

    height: 20rem;
  }

  .office-address {
    margin-bottom: var(--space-sm);
  }

  .office-icon-box {
    margin-bottom: var(--space-sm);
  }

  .btn-map {
    align-self: center;
  }

  .section-geolocation iframe {
    height: 80vh;
  }

  /* ACOMMODATIONS */
  .result {
    flex-flow: row wrap;
  }

  .result-img-box {
    flex: 1 1 100%;
    height: 25rem;
  }

  .result-content-box {
    padding: 1rem 0;
    border: 1px solid #555;
    border-top: none;
  }

  .content-1 {
    flex: 0 1 50%;
  }

  .content-2 {
    flex: 0 1 50%;
  }

  /* ACCOMMODATIONS */
  .aco-1 .icon-star {
    width: 2.4rem;
    height: 2.4rem;
  }

  .btn-deal {
    padding: 0.5rem 2rem;
  }
}

@media screen and (max-width: 375px) {
  .office-1 .icon {
    width: 2.4rem;
    height: 2.4rem;
  }
}
